body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b1522;
}

.heart {
  position: relative;
  height: 150px;
  width: 150px;
  background: #f20044;
  transform: rotate(-45deg);
  box-shadow: 15px 5px 150px 20px #f20044;
  -webkit-animation: heart 0.6s linear infinite;
          animation: heart 0.6s linear infinite;
}
.heart::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background: #f20044;
  top: -50%;
  border-radius: 50%;
}
.heart::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background: #f20044;
  right: -50%;
  border-radius: 50%;
}

@-webkit-keyframes heart {
  0% {
    scale: 1.07;
  }
  80% {
    scale: 1;
  }
  100% {
    scale: 0.8;
  }
} 